body{
    padding-left: 50px;
    padding-right: 50px;
}

p{
    font-family: 'Open Sans', sans-serif;
    color: #7f888f;
    text-align: justify;
    line-height: 25px;
}

nav{
    border-bottom: 5px solid #f56a6a;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.redes{
    margin-top: 20px;
    text-align: right;
}

.redes > a > i{
    padding-left: 8px;
    padding-right: 8px;
    color: #7f888f;
}

.titulo{
    font-size: 1.1em;
    font-family: sans-serif;
}

.titulo2{
    font-weight: bold;
    color: black;
}

.section1{
    display: flex;
}

.content1{
    width: 70%;
}

img{
    width: 30vw;
}

h1{
    font-size: 2em;
    font-family: sans-serif;
    line-height:50px;
}

input[type=button]{
    padding: 10px 70px 10px 70px;
    background-color: white;
    border: 2px solid #f56a6aaa;
    border-radius: 4px;
    color: #f56a6aaa;
}

input[type=button]:hover{
    border: 2px solid #6aa6f5;
    color: #6aa6f5;
}

hr{
    opacity: 0.8;
    border: 1px solid #d2d6dd;
}

.section2{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 2em;
}

.section2 span{
    display: block;
    font-weight: bold;
    color:black;
    line-height: 3.5em;
    font-size: 1.1em;
}

.section2 > div{
    display: grid;
    grid-template-columns: 18% 82%;
}

.section2 > div > i{
    color: #f56a6a;
    font-size: 3em;
    padding-top: 60%;
}

h2{
    display: inline-block;
    border-bottom: 5px solid #f56a6a;
    padding-bottom: 20px;
    padding-right: 100px;
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
}

.image{
    margin: 45px;
}